@import '~@baloise/design-system-components/src/styles/global.utilities.scss';

.rating {
  color: $dark;
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px;
  cursor: default;
  user-select: none;
  &.selectable {
    cursor: pointer;
    &:hover > span:before {
      content: none;
    }
  }
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  &.active:before {
    content: "\2605";
    position: absolute;
  }
}
.rating.selectable > span:hover:before,
.rating.selectable > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
