<app-restaurant-back></app-restaurant-back>
<bal-card spacing="medium">
  <bal-card-title>Register a new restaurant</bal-card-title>
  <bal-card-content>
    <form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()" class="columns is-multiline mt-0" [attr.disabled]="loading">
      <bal-field class="column is-full py-0" expanded required [disabled]="form.get('name')?.disabled">
        <bal-field-label required>Restaurant name</bal-field-label>
        <bal-field-control>
          <bal-input name="name" placeholder="Enter the restaurant name" formControlName="name"></bal-input>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="name" error="isRequired">This field is required</bal-ng-error>
          <bal-ng-error controlName="name" error="isMinLength">The name must be at least 4 charachters long</bal-ng-error>
        </bal-field-message>
      </bal-field>
      <bal-field class="column is-full py-0 image-picker" expanded required>
        <bal-field-label required>Restaurant featured image
          <bal-button color="danger" icon="trash" size="small" square *ngIf="image" (click)="removeImage()"></bal-button>
        </bal-field-label>
        <bal-field-control class="mt-2">
          <bal-file-upload
              *ngIf="!image"
              (balChange)="fileUpload($event)"
              id="bal-file-upload-example"
              accept="image/png,image/jpeg"
              max-files="1"
              max-file-size="100000000"
              max-bundle-size="1000000000">
            </bal-file-upload>
          <ng-container *ngIf="image">
            <img [src]="image | imageUrl" />
          </ng-container>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="image" error="isRequired" >You must upload an image</bal-ng-error>
        </bal-field-message>
      </bal-field>
    </form>
  </bal-card-content>
  <bal-card-actions>
    <bal-button (click)="submit()" [attr.loading]="loading" >Submit</bal-button>
  </bal-card-actions>
</bal-card>
