/* You can add global styles to this file, and also import other style files */
$font-path: '~assets/fonts';

@import 'node_modules/@baloise/design-system-components/src/styles/global.scss';

/**
// Only imports variables and mixins
@import 'node_modules/@baloise/design-system-components/src/styles/global.utilities.scss';
*/


.bal-buttons.is-right {
  justify-content: end;
}
.image-picker img {
  max-width: 300px;
  box-shadow: 0px 0px 5px rgba(1,1,1,0.05);
}
.text-right {
  text-align: right;
}
