<app-page-padding>
  <div class="columns">
    <div class="column is-two-thirds">
      <bal-heading level="h1">Re:view a restaurant</bal-heading>
      <bal-heading level="h4" subtitle>Something left an impression on you, write it down</bal-heading>
    </div>
    <div class="column is-one-third text-right">
      <img src="/assets/images/homepage_1.png" width="250px"/>
    </div>
  </div>
  <ng-container *ngIf="!!restaurants">
    <ng-container *ngIf="!restaurants.empty">
      <bal-heading level="h2" subtitle>Popular restaurants</bal-heading>
      <div class="columns is-multiline">
        <div class="column is-one-third" *ngFor="let restaurant of restaurants.content">
          <app-restaurant-card [restaurant]="restaurant"></app-restaurant-card>
        </div>
      </div>
      <div class="bal-buttons is-center">
        <bal-button color="link" [routerLink]="['/restaurants']">See all of them</bal-button>
      </div>
    </ng-container>
  </ng-container>
</app-page-padding>
