<div class="bal-buttons is-right">
  <bal-button color="danger" icon="trash" (click)="bulkDelete()" *ngIf="selected.length > 0" (click)="bulkDelete()">Delete all</bal-button>
  <bal-button color="info" outlined icon="plus" [routerLink]="['create']">Create new</bal-button>
</div>
<bal-spinner *ngIf="loading"></bal-spinner>
<ng-container *ngIf="reviews">
  <ng-container *ngIf="reviews.totalElements > 0">
    <bal-card>
      <table class="table is-fullwidth is-striped is-hoverable p-0">
        <thead>
          <th>Selected</th>
          <th>Content</th>
          <th>Rating</th>
          <th></th>
        </thead>
        <tbody>

          <tr *ngFor="let review of reviews.content">
            <td>
              <bal-checkbox [attr.id]="review.id" (balChange)="toggleSelected(review.id, $event.detail)"></bal-checkbox>
            </td>
            <td>{{ review.content }}</td>
            <td>
              {{ review.rating }}
            </td>
            <td class="has-buttons">
              <bal-button color="info" size="small" icon="edit" square outlined [routerLink]="[review.id, 'edit']"></bal-button>
              <bal-button color="info" size="small" icon="trash" square outlined (click)="deleteReview(review.id)"></bal-button>
            </td>
          </tr>
        </tbody>
      </table>
    </bal-card>
    <div class="py-4">
      <bal-pagination
        [attr.value]="reviews.pageable.pageNumber + 1"
        [attr.page-range]="3"
        [attr.total-pages]="reviews.totalPages"
        (balChange)="getReviews($event.detail - 1)"
      ></bal-pagination>
    </div>
  </ng-container>
  <ng-container *ngIf="reviews.totalElements == 0">
      <app-empty></app-empty>
  </ng-container>
</ng-container>


