<bal-card class="has-margin-top">
  <bal-card-title>Register</bal-card-title>
  <bal-card-subtitle>Join the Re:view platform</bal-card-subtitle>

  <bal-card-content>
    <form #register_form="ngForm" class="columns is-multiline mt-0"  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <bal-field class="column is-half py-0" expanded required>
        <bal-field-label required>Username</bal-field-label>
        <bal-field-control>
          <bal-input name="username" placeholder="Enter your username" required  formControlName="username"></bal-input>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="username" error="taken">Usename is already taken</bal-ng-error>
          <bal-ng-error controlName="username" error="isRequired">This field is required</bal-ng-error>
          <bal-ng-error controlName="username" error="isMinLength">Username needs to be at least 4 charachters long</bal-ng-error>
          <bal-ng-error controlName="username" error="isMaxLength">Username needs to be max 15 charachters long</bal-ng-error>
          <bal-ng-error controlName="username" error="matchesRegex">Username must be 4-15 charachters long and contain only letters, numbers, . and _ that can't appear at the start or end of the username</bal-ng-error>
        </bal-field-message>
      </bal-field>
      <bal-field class="column is-half py-0" expanded required>
        <bal-field-label required>Password</bal-field-label>
        <bal-field-control>
          <bal-input name="password" type="password" placeholder="Enter your password"  formControlName="password" required></bal-input>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="password" error="isRequired">This field is required</bal-ng-error>
          <bal-ng-error controlName="password" error="isMinLength">Password needs to be at least 4 charachters long</bal-ng-error>
          <bal-ng-error controlName="password" error="isMaxLength">Password needs to be max 15 charachters long</bal-ng-error>
          <bal-ng-error controlName="password" error="matchesRegex">The password can contain alphanumerical charachters and , . ! ? # these special charachters that can't appear more than twice in a row</bal-ng-error>
        </bal-field-message>
      </bal-field>
      <small class="px-3">Already have an account? <a href="/login" [routerLink]="['/login']">Login</a></small>
    </form>
  </bal-card-content>

  <bal-card-actions>
    <bal-button type="submit" (click)="submit()">Register</bal-button>
  </bal-card-actions>
</bal-card>
